* {
    background-color: blanchedalmond;
}

h1{
    font-size:100px;
    text-align: center;
}

.center{
    width:35%;
    margin-left:auto;
    margin-right:auto;
}

.indexList{
    font-size:60px;
}

h2{
    text-align:center;
}

p{
    text-align:center;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.recipe{
    width:25%;
    font-size:20px;
}